.container {


    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 100px -150px 150px 100px;   
    /* top right bottom left  */
    /* width: 100%; */
    height: calc( 100vh - 30px);
    /* max-height: 55vh; */
    /* margin-top: 80px; */
    background-color:white;
    flex: .8;
    border-radius: 50px;
    padding:10px;
}