.container {


    /* position: absolute; */
 
    margin: 30px;
    /* width: 100%; */
    height: calc( 100vh - 30px);
    /* max-height: 55vh; */
    margin-top: 80px;
    background-color: green;
    flex: .8;
    border-radius: 30px;
    padding:10px;

}