.navbar {
    width: 100%; 
    padding: 0 ;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    height: 14vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,45,177,1) 35%, rgba(0,212,255,1) 100%);
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top: 0;
     
  border: 4px solid black;

}


.ethereumLogo:hover {
    background-position: right center; /* change the direction of the change here */
  }


.ethereumLogo {

  font-size: "50px" !important;
  
  color: "#2d2db1" !important;
    
}

/* https://cssgradient.io/ */



.navbar_elements {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

form > button   {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -53px;
  


}



form > button > img {

    width: 10px;
    
    object-fit: contain;
    

}

form > input {
    border-width: 1px;
    /* padding: 10px 35px 10px 15px; */
    padding: 3vh;
    border: none;
    border-radius: 100px;
    outline: none;
    min-width:  500px;
}


form > button  {
    /* display: flex; */

    font-size: 10px;
   
}

.navbar > button {
    /* background-color: #a6b12d; */
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100px;
}


a:hover {
    background-position: right center; /* change the direction of the change here */
  }



a {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100px;

   
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px
}

/* https://codepen.io/pirrera/pen/bqVeGx */