aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    z-index: 11;
    /* min-height: calc( 100vh - 0px); */
 
    justify-content: space-around;
    /* margin-top: 30px; */
    /* width: 25vh; */
    background-color: whitesmoke;
    align-items: center;
    /* overflow-y: auto; */
    
    min-width: 8%;
    

    overflow-x: hidden; 
    /* width: 150px; */
    /* overflow-y: scroll; */
    top: 0;
    left: 0;
    flex: .05;
    z-index: 1;
    /* position: relative; */
    cursor: pointer;
    /* border-right: 4px solid black; */
    
}

.group {
    
    position: absolute;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    left: 19%;
    height: auto;
    
}