aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 25vh;
    background-color: orange;
    align-items: center;
}